@import url("../Array_Complete/Fonts/WEB/css/array.css");

.qnum{
    font-family:Array-Regular;
    font-size:79px;
    padding:10px;
    padding-left:20px;
    padding-bottom:0px; 
    width:100vw; 
    margin:0px; 
}

.headerContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
    background:black;
    height:1000px;
    width:100vw;
    font-family:Array-Regular;
    font-size: 12em;
    line-height: 100%;
}

.header{
     /* background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(7,7,177,1) 50%, rgba(0,212,255,1) 100%); */
    text-align: center;
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
    background-clip: text;
    font-family: Array-Regular;
    color: rgba(255, 255, 255, 0.2);
    animation: slide 180s linear infinite;
}

@keyframes slide{
    to {
        background-position: 4500vh;
    }
}

@media only screen and (max-width: 768px) {
    

    .headerContainer{
        font-size: 50px;
        height: 1000px;
    }


}